<div class="max-h-[70vh]">
  <div class="relative">
    <img src="/images/hero.jpg" alt="Descripción del video" class="w-full h-full object-cover">
    <div class="absolute top-0 bg-black/65 w-full h-full flex flex-col justify-center items-center pointer-events-none">
      <div class="w-[90vw] flex flex-col lg:flex-row-reverse justify-between items-center gap-5">
        <div class="flex">
          <i class="fas fa-code-branch text-6xl text-white"></i>
        </div>
        <div class="flex flex-col gap-5 lg:text-start text-center text-white">
          <h2 class="text-4xl lg:text-7xl ">
            BrainNet
          </h2>
          <p class="text-lg md:text-xl ">
            Intercambio de habilidades con sistema de créditos para estudiantes.
          </p>
          <div class="flex lg:justify-start justify-center pointer-events-auto">
            <a class="btn btn-neutral btn-lg shadow rounded-2xl" [routerLink]="['/contact-us']">
              <i class="fa-solid fa-arrow-right-long"></i>
              Empieza hoy
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
